body {
  background: #eeeeee;
  margin: 0px;
  padding: 0px;
  font-size: 14px !important;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  /* margin-top: -10px; */
  background-image: url("bg.png");
  background-size: cover;
  background-position: left top;
}

header {
  z-index: 1000px !important;
  background: rgb(244, 240, 240);
}

.container {
  /* width: 100%; */
  /* height: auto; */
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
}

#frm {
  background: rgba(255, 255, 255, 1);
  border-radius: 40px;
  color: #0b0b0b;
  width: 27%;
  padding: 10px;
  margin: 10% 0% 0% 26%;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  display: flex;
  float: left;
  flex-direction: column;
}

#frm2 {
  background: rgba(255, 255, 255, 1);
  border-radius: 40px;
  color: #0b0b0b;
  width: 27%;
  padding: 10px;
  margin: 10% 0% 0% -2%;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  display: flex;
  float: right;
  flex-direction: column;
}

form legend {
  font-size: 2em;
  margin-bottom: 1em;
  width: 100%;
  border-bottom: 2px solid #ddd;
}

.float-label .input {
  float: left;
  position: relative;
  width: 100%;
  /* border-bottom: 1px solid #ddd; */
  padding-top: 23px;
  padding-bottom: 10px;
}

.float-label .input.small {
  width: 30%;
  border-right: 1px solid #ddd;
}

.float-label .input.medium {
  width: 70%;
  padding-left: 10px;
}

.float-label .input:last-child {
  border: 0;
}

.float-label input,
.float-label textarea {
  /* display: block; */
  width: 100%;
  border: 0;
  outline: 0;
  resize: none;
}

.float-label input + label,
.float-label textarea + label {
  position: absolute;
  top: 10px;
  transition: top 0.7s ease, opacity 0.7s ease;
  opacity: 0;
  font-size: 16px;
  font-weight: 600;
  color: #ed9d08;
  letter-spacing: 0.05ch;
  font-family: helvetica;
}

.float-label input:valid + label,
.float-label textarea:valid + label {
  opacity: 1;
  top: -7px;
}

.float-label input:focus + label,
.float-label textarea:focus + label {
  color: #ed9d08;
}
#logo {
  padding: 4%;
  margin: 0%;
}

#hideUnhide {
  margin: 0% 0% 0% -9%;
}

.wel {
  font-size: 15px;
  color: #6f6f6f;
  font-weight: bold;
}

.sign {
  color: rgb(208, 115, 21);
}

label {
  margin: 2%;
  padding: 2%;
  text-decoration: underline;
  font-size: 20px;
  font-weight: bold;
  display: flex;
}
#user {
  margin: 10px 10px 10px 10px;
  width: 80%;
  height: 38px;
  background-color: rgba(248, 163, 78, 0.785);
  border-radius: 5px;
  border-style: none;
  font-size: 12px;
}

#pass {
  margin: 10px 10px 10px 10px;
  width: 80%;
  height: 38px;
  background-color: rgba(248, 163, 78, 0.785);
  border-radius: 5px;
  border-style: none;
  font-size: 12px;
}

#btn {
  margin: 0% 0% 0% 64%;
  padding: 10px;
  border-radius: 15px;
  font-size: 15px;
  font-weight: bold;
  background-color: #d3632e;
  color: #ffffff;
  border-style: none;
}

@media (max-width: 1190px) {
  #frm {
    background: rgba(255, 255, 255, 1);
    border-radius: 40px;
    color: #0b0b0b;
    width: 32%;
    padding: 10px;
    margin: 10% 0% 0% 15%;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    display: flex;
    float: left;
    flex-direction: column;
  }

  #frm2 {
    background: rgba(255, 255, 255, 1);
    border-radius: 40px;
    color: #0b0b0b;
    width: 40%;
    padding: 10px;
    margin: 10% 0% 0% -2%;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    display: flex;
    float: right;
    flex-direction: column;
  }

  #btn {
    margin: 0% 14% 0% 56%;
  }

  #hideUnhide {
    margin: 0% 0% 0% -11%;
  }
}

@media (max-width: 900px) {
  #frm {
    background: rgba(255, 255, 255, 1);
    border-radius: 40px;
    color: #0b0b0b;
    width: 32%;
    padding: 10px;
    margin: 10% 0% 0% 7%;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    display: flex;
    float: left;
    flex-direction: column;
  }

  #frm2 {
    background: rgba(255, 255, 255, 1);
    border-radius: 40px;
    color: #0b0b0b;
    width: 47%;
    padding: 10px;
    margin: 10% 0% 0% -2%;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    display: flex;
    float: right;
    flex-direction: column;
  }

  #btn {
    margin: 0% 14% 0% 45%;
  }

  #hideUnhide {
    margin: 0% 0% 0% -15%;
  }
}

@media (max-width: 660px) {
  #frm {
    background: rgba(255, 255, 255, 1);
    border-radius: 40px;
    color: #0b0b0b;
    width: 60%;
    padding: 10px;
    margin: 10% 0% 0% 26%;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    display: flex;
    float: left;
    flex-direction: column;
  }

  #frm2 {
    background: rgba(255, 255, 255, 1);
    border-radius: 40px;
    color: #0b0b0b;
    width: 0%;
    padding: 0;
    margin: 10% 0% 0% 0%;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    display: flex;
    float: right;
    flex-direction: column;
  }

  #btn {
    margin: 0% 14% 0% 56%;
  }

  #hideUnhide {
    margin: 0% 0% 0% -11%;
  }
}

/* #frm { */
/* border: solid gray 1px;
    width: 25%;
    border-radius: 2px;
    background: rgb(210, 31, 31);
    padding: 50px; */
/* z-index: 100px;
    position: fixed;
    background: rgba(41, 40, 40, 0.7);
    border-radius: 10px;
    color: #f1ebeb;
    width: 30%;
    padding: 20px;
    margin: -50% 0% 0% 55%;
  }
  input {
    border-radius: 5px;
    border: #ffffff 0px;
    width: 97%;
    opacity: 0.6;
    height: 25px;
  }
  #btn {
    color: #fff;
    background: #f4840b;
    padding: 6px;
    margin-left: 60%;
    width: 40%;
  } */

/* video {
    object-fit: fill;
    height: auto;
    width: 100%;
  } */

footer {
  background-color: #080808;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 5px;
  color: #fafafa;
  font-size: 15px;
  text-align: center;
  z-index: 999;
}
.video-container {
  width: 100%;
  height: 100%;
  /* padding-bottom: 56.25%;   */
  position: relative;
  object-fit: cover;
  border-bottom-right-radius: 30px;
}

.video-container video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.video_main {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

input::placeholder {
  font-family: helvetica;
  padding-left: 5px;
  letter-spacing: 0.2ch;
  /* font-weight: bold; */
  opacity: 0.8;
  color: #ffffff;
}

input {
  font-family: helvetica;
  font-weight: bold;
  padding-left: 5px;
  letter-spacing: 0.1ch;
  color: black;
}
