body {
  background: #eee;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: white;
}

#resonPop {
  position: absolute;
  padding: 6px;
  width: 25rem;
  height: 16rem;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 23px;
  /* background: #f77c01;
  box-shadow: 3px 2px 13px 0px #b16108db, -4px -4px 12px #ffce64d9; */
  background: linear-gradient(
    180deg,
    rgba(241, 224, 153, 1) 0%,
    rgba(255, 149, 0, 1) 100%
  );
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

.close {
  position: fixed;
  top: 11px;
  right: 10px;
  width: 25px;
  height: 25px;
  background-color: rgb(255 214 125 / 55%);
  border-radius: 50%;
  /* border-top-right-radius: 12px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-xmark {
  display: flex;
  justify-content: center;
  align-items: center;
}
#reasonInput {
  height: 146px;
  width: 363px;
  margin: 4px 10px;
  border: none;
  padding: 1rem;
  border-radius: 1rem;
  background: #ffffffa8;
  box-shadow: inset -2px -3px 15px #c5c5c5, inset 3px 4px 12px #ffffff;
  transition: 0.3s;
}

#reasonInput:focus {
  outline-color: #e8e8e8;
  background: #e8e8e8;
  box-shadow: inset 20px 20px 60px #c5c5c5, inset -20px -20px 60px #ffffff;
  transition: 0.3s;
}

.submit {
  position: fixed;
  bottom: 15px;
  right: 22px;
  height: 28px;
  width: 73px;
  font-size: 17px;
  padding: 2px;
  border: transparent;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  background: #ffbd41;
  color: white;
  border-radius: 10px;
}

.submit:hover {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgb(247, 170, 4) 0%,
    rgb(236, 208, 87) 100%
  );
}

textarea {
  resize: none;
}

.myModal {
  background: rgb(0 0 0 / 49%);
  height: 100%;
  width: 100%;
  margin-top: 0;
  position: fixed;
  top: 0px;
}

.acceptbtn,
.declinebtn {
  cursor: pointer;
  text-decoration: none;
  color: rgb(255, 132, 0);
}

.acceptbtn:hover {
  color: rgb(82, 153, 34);
}

.declinebtn:hover {
  color: rgb(235, 36, 36);
}
